/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* цвет фона  #E5E5E5 */
/* вторичный цвет фона "наша команда" #F5F4FA */
/* цвет фона героя и подвала #2F303A */

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-wite-color: #ffffff;
  --background-color: #e5e5e5;
  --background-hero-futer: #2F303A;
  --background-color-team: #F5F4FA;
}

body {
  background-color: var(--background-color));
  color: #757575;
  font-family: Roboto sans-serif;
}
a {
  text-decoration: none;
  cursor: default;
}
ul,
li {
  list-style: none;
}

/* logo */
.logo-nav {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--accent-color);
}

/* site-nav */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* site-info */
.site-info .link {
  color: var(--primery-text-color);
}
.site-info .link:hover,
.site-info .link:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  background-color: var(--background-hero-futer);
}
.hero .title {
  color: var(--primery-wite-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  color: var(--primery-wite-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
/* features, works, team */
.features-title{
  color: var(--title-text-color);
}
.title{
  color: var(--title-text-color);
}
.team {
    background-color: var(--background-color-team);
}
.team-title{
  color: var(--title-text-color);
}
/* futer */
.logo {
  color: var(--primery-wite-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.futer {
  background-color: var(--background-hero-futer);
}
.futer-text {
  color: var(--primery-wite-color);
}
.futer .link {
  color: rgba(255, 255, 255, 0.6);
}
/* portfolio */
.section-title {
  color: var(--title-text-color);
}
.button-nav {
  color: var(--title-text-color);
  background-color: var(--background-color-team);
}
.button-nav:hover, .button-nav:focus{
  color: var(--primery-wite-color);
  background-color: var(--accent-color);
  cursor: pointer;
}